*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.wrapper{
    min-height: 100vh;
    background-color: #361154;
    position: relative;
    z-index: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(./images/background.png);
    background-size: contain;
    background-position: center;
    opacity: 0.4;
}
.pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
    margin: 50px 15px;
  }
.author{
    text-align: center;
}
.craneos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.craneo{
    max-width: 100px;
    width: 100%;
    height: 100px;
    background: url(../images/skull_up_1.svg) no-repeat top left;
    background-size: contain;
    background-position: center;
    filter: drop-shadow(0px 0px 2px #c3c3c3); 
}
.craneo1{
    background: url(../images/skull_up.svg) no-repeat top left;

}
.calaverita{
    background-color: #FFF4D7;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    display: inline-block;
}
